In [1]:
import numpy as np
import pandas as pd

In [2]:
#通过传递值列表来创建一个系列
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
#通过传递numpy数组，使用datetime索引和标记列来创建DataFrame
dates = pd.date_range('20200101',periods=7)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# np.random.randn(7,4) 生成7行4列正态分布数据
# index=dates 以dates的日期作为索引

In [6]:
df1 = pd.DataFrame(np.random.randn(7,4),index=dates,columns=list('ABCD'))
df1

                   A         B         C         D
2020-01-01  0.944937 -2.124903  0.980965  0.850503
2020-01-02 -0.221211  0.443510 -1.192585  0.438758
2020-01-03 -0.891411  1.052021  0.931241  0.348665
2020-01-04  1.545643 -0.892429 -1.949858 -0.432569
2020-01-05  1.280980 -1.156866 -0.599213 -0.296130
2020-01-06 -0.685038  0.767345 -1.349903  1.225979
2020-01-07  0.559353 -1.088823 -0.027400  1.721626

In [7]:
#通过传递可以转换为类似系列的对象的字典来创建DataFrame
df2 = pd.DataFrame({
    'A':1.,
    "B":pd.Timestamp('20200101'),
    'c':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),  
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'
})
df2

     A          B    c  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-01  1.0  3  train  foo
2  1.0 2020-01-01  1.0  3   test  foo
3  1.0 2020-01-01  1.0  3  train  foo