## delta

In [10]:
import pandas as pd
import datetime

In [11]:
#创建日期范围
datelist = pd.date_range('2020-1-1',periods=6)
datelist

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#更改日期频率
datelist = pd.date_range('2020/5/21',periods=5,freq='M')
datelist

DatetimeIndex(['2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30'],
              dtype='datetime64[ns]', freq='M')

In [14]:
start = datetime.datetime(2020,1,1)
end = datetime.datetime(2020,1,6)
dates = pd.date_range(start,end)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
#如果偏移设为分钟会包括周六和周日
df = pd.bdate_range('20200101 9:30','20200106 16:00',freq='1min')
print(df)

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 00:01:00',
               '2020-01-01 00:02:00', '2020-01-01 00:03:00',
               '2020-01-01 00:04:00', '2020-01-01 00:05:00',
               '2020-01-01 00:06:00', '2020-01-01 00:07:00',
               '2020-01-01 00:08:00', '2020-01-01 00:09:00',
               ...
               '2020-01-05 23:51:00', '2020-01-05 23:52:00',
               '2020-01-05 23:53:00', '2020-01-05 23:54:00',
               '2020-01-05 23:55:00', '2020-01-05 23:56:00',
               '2020-01-05 23:57:00', '2020-01-05 23:58:00',
               '2020-01-05 23:59:00', '2020-01-06 00:00:00'],
              dtype='datetime64[ns]', length=7201, freq='T')

In [16]:
#进一步加工
x = df[df.indexer_between_time('9:30','16:00')] #限制要的时间段
x = x[x.dayofweek<5] #限制周一至周五
print(x)

DatetimeIndex(['2020-01-01 09:30:00', '2020-01-01 09:31:00',
               '2020-01-01 09:32:00', '2020-01-01 09:33:00',
               '2020-01-01 09:34:00', '2020-01-01 09:35:00',
               '2020-01-01 09:36:00', '2020-01-01 09:37:00',
               '2020-01-01 09:38:00', '2020-01-01 09:39:00',
               ...
               '2020-01-03 15:51:00', '2020-01-03 15:52:00',
               '2020-01-03 15:53:00', '2020-01-03 15:54:00',
               '2020-01-03 15:55:00', '2020-01-03 15:56:00',
               '2020-01-03 15:57:00', '2020-01-03 15:58:00',
               '2020-01-03 15:59:00', '2020-01-03 16:00:00'],
              dtype='datetime64[ns]', length=1173, freq=None)

## timeDelta

In [1]:
import pandas as pd

In [2]:
#字符串
timediff = pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')
print(timediff)

2 days 02:15:30

In [5]:
#整数
timediff = pd.Timedelta(6,unit='h')
timediff

Timedelta('0 days 06:00:00')

In [6]:
# 数据偏移
timediff = pd.Timedelta(days=2)
print(timediff)

2 days 00:00:00

In [7]:
#运算操作
s = pd.Series(pd.date_range('2020-1-1',periods=3,freq='D'))
td = pd.Series([pd.Timedelta(days=i) for i in range(3)])
df = pd.DataFrame(dict(A =s,B =td))
df

           A      B
0 2020-01-01 0 days
1 2020-01-02 1 days
2 2020-01-03 2 days

In [8]:
#相加操作
df = pd.DataFrame(dict(A =s,B =td))
df['C']=df['A']+df['B']
df

           A      B          C
0 2020-01-01 0 days 2020-01-01
1 2020-01-02 1 days 2020-01-03
2 2020-01-03 2 days 2020-01-05

In [9]:
#相减操作
df = pd.DataFrame(dict(A=s, B=td))
df['C']=df['A']+df['B']
df['D']=df['C']-df['B']
df

           A      B          C          D
0 2020-01-01 0 days 2020-01-01 2020-01-01
1 2020-01-02 1 days 2020-01-03 2020-01-02
2 2020-01-03 2 days 2020-01-05 2020-01-03